  #filterBar {
    overflow: hidden;
  }
    
  .align-right{
    float: right;
  }

  .side-by-side {
    width: 50% !important;  
    float: left;
}
  
.range-selector{
  width: 100%
}

.yellow-button{
  background-color: #41307c;
  border-color: #41307c;
  color: white;
}

