<div #filterBar>
  <div class="cd-filter filter-is-visible">
  <dx-scroll-view showScrollbar="always" bounceEnabled="false" height="auto">
    
    <form #filterForm (ngSubmit)="explore()" class="form-horizontal fit-screen">

      <!-- IMDB Rating -->
      <fieldset>
        <div class="input-group">
          <dx-range-selector #ratingSelector [(value)]="ratingRange" class="range-selector">
            <dxo-size height="120"></dxo-size>
            <dxo-scale [startValue]="0" [endValue]="10" [minorTickInterval]="0.1" [tickInterval]="1">
              <dxo-minor-tick [visible]="true"></dxo-minor-tick>
            </dxo-scale>           
            <dxo-slider-marker [paddingLeftRight]="20">
              <dxo-font [size]="15"></dxo-font>
            </dxo-slider-marker>
            <dxo-title text="{{'Rating' | i18n}}" margin="0">
                <dxo-font [size]="26"></dxo-font>
            </dxo-title>
            <!-- <dxo-behavior callValueChanged="onMoving"></dxo-behavior> -->
          </dx-range-selector>
          <!-- <dx-number-box class="side-by-side" [(value)]="query.UserRating.Min" [min]="0" [max]="10" step="0.5" [showSpinButtons]="true" [showClearButton]="true"></dx-number-box>
            <dx-number-box class="side-by-side" [(value)]="query.UserRating.Max" [min]="0" [max]="10" step="0.5" [showSpinButtons]="true" [showClearButton]="true"></dx-number-box> -->
        </div>
      </fieldset>

      <!-- Title Type -->
      <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'TitleType' | i18n}}" [(value)]="query.TitleTypes" [items]="titleTypes" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>
        </div>
      </fieldset>

      <!-- Genre Type -->
      <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'GenreType' | i18n}}" [(value)]="query.Genres" [items]="genres" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>            
            <!-- <i id="genreTypeInfo" class="fa fa-info-circle"  (mouseenter)="genreTypeInfoVisible=true" (mouseleave)="genreTypeInfoVisible=false" >
              <dx-tooltip target="#genreTypeInfo" position="right" [(visible)]="genreTypeInfoVisible">
                <div *dxTemplate="let data = data of 'content'">
                  Seçilen tüm türlere sahip filmler listelenecektir.
                </div>
              </dx-tooltip>
            </i> -->
        </div>
      </fieldset>

      <!-- Group Type -->
      <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'Awards' | i18n}}" [(value)]="query.Groups" [items]="groups" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>
        </div>
      </fieldset>

      <!-- Color Type -->
      <!-- <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'ColorType' | i18n}}" [(value)]="query.Colors" [items]="colors" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>
        </div>
      </fieldset> -->

      <!-- Country -->
      <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'Country' | i18n}}" [(value)]="query.Countries" [items]="countries" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>
        </div>
      </fieldset>

      <!-- Language -->
      <fieldset>
        <div class="form-group">
          <dx-tag-box  placeholder="{{'Language' | i18n}}" [(value)]="query.Languages" [items]="languages" displayExpr="Value" valueExpr="Key"
            applyValueMode="instantly" [searchEnabled]="isFilterSearchable" [showClearButton]="true" [showDropDownButton]="true"></dx-tag-box>
        </div>
      </fieldset>

      <!-- Sort Type -->
      <fieldset>
        <div class="form-group">
          <dx-select-box  placeholder="{{'SortType' | i18n}}" [(value)]="query.Sort" [items]="sortTypes" [showClearButton]="false" displayExpr="Value" valueExpr="Key"></dx-select-box>
        </div>
      </fieldset>

      <!-- Release Year -->
      <fieldset>
        <div class="form-group input-group">
            <dx-range-selector #yearSelector [(value)]="yearRange" class="range-selector">
              <dxo-size height="100"></dxo-size>
              <dxo-scale [startValue]="1900" [endValue]="currentYear" [minorTickInterval]="1" [tickInterval]="1">
                  <dxo-minor-tick [visible]="true"></dxo-minor-tick>
              </dxo-scale>           
              <dxo-slider-marker [paddingLeftRight]="5">
                  <dxo-font [size]="14"></dxo-font>
              </dxo-slider-marker>
              <dxo-title text="{{'Year' | i18n}}" margin="0">
                  <dxo-font [size]="20"></dxo-font>
              </dxo-title>
          </dx-range-selector>

          <!-- <dx-date-box placeholder="{{'Year' | i18n}}" class="side-by-side" [(value)]="query.ReleaseDate.Min" displayFormat="dd/MM/yyyy"
            [showClearButton]="true" [(max)]="query.ReleaseDate.Max" type="date"></dx-date-box>
          <dx-date-box placeholder="{{'Year' | i18n}}" class="side-by-side" [(value)]="query.ReleaseDate.Max" displayFormat="dd/MM/yyyy"
            [showClearButton]="true" [(min)]="query.ReleaseDate.Min" type="date"></dx-date-box> -->
        </div>
      </fieldset>

      <!-- Voted Count -->
      <fieldset>
        <div class="form-group input-group">
          <div class="slider-title">{{'MinRatingCount' | i18n}}</div>          
          <dx-slider id="votingSlider" width="100%" [min]="0" [max]="100000" [step]="1000" [(value)]="minNumVotes">
              <dxo-tooltip [enabled]="true" [format]="formatWithK" showMode="always" position="top"></dxo-tooltip>
              <dxo-label [visible]="true" position="bottom" [format]="formatWithDot"></dxo-label>
          </dx-slider>

          <!-- <dx-number-box placeholder="{{'MinVote' | i18n}}" class="side-by-side" [(value)]="query.NumVotes.Min" [min]="0" step="1000"
            [showSpinButtons]="true" [showClearButton]="true"></dx-number-box>
          <dx-number-box placeholder="{{'MaxVote' | i18n}}" class="side-by-side" [(value)]="query.NumVotes.Max" [min]="0" step="1000"
            [showSpinButtons]="true" [showClearButton]="true"></dx-number-box> -->
        </div>
      </fieldset>

      <!-- Popularity -->
      <!-- <fieldset>
        <div class="form-group input-group">
          <dx-number-box placeholder="{{'MinPopularity' | i18n}}" class="side-by-side" [(value)]="query.MovieMeter.Min" [min]="0"  step="1000" [showSpinButtons]="true" [showClearButton]="true"></dx-number-box>
          <dx-number-box placeholder="{{'MaxPopularity' | i18n}}" class="side-by-side" [(value)]="query.MovieMeter.Max" [min]="0"  step="1000" [showSpinButtons]="true" [showClearButton]="true"></dx-number-box>
        </div>
      </fieldset> -->

      <fieldset class="margin-top-5-bottom-10">
          <div class="form-group">           
            <dx-check-box [(value)]="onNetflix" text="{{'OnNetflix' | i18n}}" style="float: left;"></dx-check-box>
            <dx-check-box [(value)]="onAmazon" text="{{'OnAmazonPrime' | i18n}}" style="float: right;"></dx-check-box>
          </div>
      </fieldset>

      <fieldset>
        <div class="form-group">
          <dx-text-box height="40" [(value)]="query.Title" placeholder="{{'MovieTitle' | i18n}}" [showClearButton]="true"></dx-text-box>
        </div>
      </fieldset>


      <!-- Result Count -->
      <!-- <fieldset>
      <div class="form-group">
        <dx-select-box [(value)]="query.Count" [dataSource]="[50,100,250]" placeholder="{{'Count' | i18n}}"></dx-select-box>
      </div>
      </fieldset> -->

      <fieldset>
        <div class="form-group">
          <dx-button class="clear-button" icon="trash" height="50" width="16%" type="normal" hint="{{'Clear' | i18n}}" (onClick)="clearFilter()"></dx-button>          
          <dx-button class="explore-button" icon="search" height="50" width="84%" stylingMode="contained" type="default" text="{{'Explore' | i18n}}" [useSubmitBehavior]="true"></dx-button>          
        </div>
      </fieldset>
    </form>

  </dx-scroll-view>

    <i class="fa fa-times fa-2x cd-close" (click)="triggerFilter(false)"></i>
  </div>
  <i class="fa fa-filter fa-2x cd-filter-trigger filter-is-visible" (click)="triggerFilter(true)"></i>
</div>