  #filterBar {
    overflow: hidden;
  }
    
  .align-right{
    float: right;
  }

  .side-by-side {
    width: 50% !important;  
    float: left;
}
  
.range-selector{
  width: 100%
}

.explore-button{
  font-size: large;
}

.clear-button{
}

.slider-title{
  width: 100%;
  text-align: center;
  white-space: pre;
  font-size: 18px;
  font-family: 'Segoe UI Light';
  font-weight: 200;
  fill: #333;
  cursor: default;
  margin-bottom:33px; 
}

::ng-deep .dx-resizable{
  background-color:#F05B41 !important;
  color: #ffffff !important;

}

.fit-scrren{
  max-height: calc(100vh - 10px); 
}
