#DIV_1 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 310px 100px;
    transform-origin: 310px 100px;
    caret-color: rgb(51, 51, 51);
    background: rgb(246, 246, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 15px 20px;
}/*#DIV_1*/

#DIV_1:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:before*/

#DIV_2 {
    bottom: 155px;
    color: rgb(51, 51, 51);
    left: 570px;
    position: absolute;
    right: 20px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 15px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3*/

#DIV_3:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3:after*/

#DIV_3:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_3:before*/

#DIV_4 {
    background-position: -30px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/watchlist-ribbon-sprite-sm-771043870._V_.png") no-repeat scroll -30px 0px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4*/

#DIV_4:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4:after*/

#DIV_4:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_4:before*/

#DIV_5 {
    color: rgb(51, 51, 51);
    float: left;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: top;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 33.4943px 50.3551px;
    transform-origin: 33.4943px 50.3551px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    margin: 0px 20px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5*/

#DIV_5:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5:after*/

#DIV_5:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_5:before*/

#A_6 {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_6*/

#A_6:after {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_6:after*/

#A_6:before {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_6:before*/

#IMG_7 {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 1px;
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 33.4943px 48.9915px;
    transform-origin: 33.4943px 48.9915px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#IMG_7*/

#IMG_7:after {
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#IMG_7:after*/

#IMG_7:before {
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#IMG_7:before*/

#DIV_8 {
    color: rgb(51, 51, 51);
    max-width: 84%;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: top;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 243.594px 85.1989px;
    transform-origin: 243.594px 85.1989px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_8:before*/

#H3_9 {
    color: rgb(165, 133, 0);
    text-decoration: none solid rgb(165, 133, 0);
    column-rule-color: rgb(165, 133, 0);
    perspective-origin: 193.594px 9.09091px;
    transform-origin: 193.594px 9.09091px;
    caret-color: rgb(165, 133, 0);
    border: 0px none rgb(165, 133, 0);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 133, 0) none 0px;
}/*#H3_9*/

#H3_9:after {
    color: rgb(165, 133, 0);
    text-decoration: none solid rgb(165, 133, 0);
    column-rule-color: rgb(165, 133, 0);
    caret-color: rgb(165, 133, 0);
    border: 0px none rgb(165, 133, 0);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 133, 0) none 0px;
}/*#H3_9:after*/

#H3_9:before {
    color: rgb(165, 133, 0);
    text-decoration: none solid rgb(165, 133, 0);
    column-rule-color: rgb(165, 133, 0);
    caret-color: rgb(165, 133, 0);
    border: 0px none rgb(165, 133, 0);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 133, 0) none 0px;
}/*#H3_9:before*/

#SPAN_10 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_10*/

#SPAN_10:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_10:after*/

#SPAN_10:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_10:before*/

#A_11 {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_11*/

#A_11:after {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_11:after*/

#A_11:before {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 700 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_11:before*/

#SPAN_12 {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_12*/

#SPAN_12:after {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_12:after*/

#SPAN_12:before {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 15px / normal Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_12:before*/

#P_13 {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    perspective-origin: 243.594px 7.27273px;
    transform-origin: 243.594px 7.27273px;
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    margin: 5.5px 0px 8.25px;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_13*/

#P_13:after {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_13:after*/

#P_13:before {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_13:before*/

#SPAN_14, #SPAN_16, #SPAN_18, #SPAN_73, #SPAN_76 {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_14, #SPAN_16, #SPAN_18, #SPAN_73, #SPAN_76*/

#SPAN_14:after, #SPAN_16:after, #SPAN_18:after, #SPAN_73:after, #SPAN_76:after {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_14:after, #SPAN_16:after, #SPAN_18:after, #SPAN_73:after, #SPAN_76:after*/

#SPAN_14:before, #SPAN_16:before, #SPAN_18:before, #SPAN_73:before, #SPAN_76:before {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#SPAN_14:before, #SPAN_16:before, #SPAN_18:before, #SPAN_73:before, #SPAN_76:before*/

#SPAN_15, #SPAN_17, #SPAN_67, #SPAN_75 {
    color: rgb(204, 204, 204);
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_15, #SPAN_17, #SPAN_67, #SPAN_75*/

#SPAN_15:after, #SPAN_17:after, #SPAN_67:after, #SPAN_75:after {
    color: rgb(204, 204, 204);
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_15:after, #SPAN_17:after, #SPAN_67:after, #SPAN_75:after*/

#SPAN_15:before, #SPAN_17:before, #SPAN_67:before, #SPAN_75:before {
    color: rgb(204, 204, 204);
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_15:before, #SPAN_17:before, #SPAN_67:before, #SPAN_75:before*/

#DIV_19 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 243.594px 9.48864px;
    transform-origin: 243.594px 9.48864px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19*/

#DIV_19:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19:after*/

#DIV_19:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_19:before*/

#DIV_20 {
    color: rgb(51, 51, 51);
    display: inline-block;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 20.7386px 8.99148px;
    transform-origin: 20.7386px 8.99148px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    margin: 0px 20px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_20*/

#DIV_20:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_20:after*/

#DIV_20:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_20:before*/

#SPAN_21 {
    background-position: -42px 0%;
    width: 18px;
    height: 18px;
    color: rgb(51, 51, 51);
    display: inline-block;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: text-bottom;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.99148px 8.99148px;
    transform-origin: 8.99148px 8.99148px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/sitewide/imdb_global_sprite-3614849164._V_.png") no-repeat scroll -42px 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_21*/

#SPAN_21:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_21:after*/

#SPAN_21:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_21:before*/

#STRONG_22 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_22*/

#STRONG_22:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_22:after*/

#STRONG_22:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#STRONG_22:before*/

#DIV_23 {
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 35.9943px 8.99148px;
    transform-origin: 35.9943px 8.99148px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    margin: 0px 85px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_23*/

#DIV_23:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_23:after*/

#DIV_23:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_23:before*/

#SPAN_24 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_24*/

#SPAN_24:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_24:after*/

#SPAN_24:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_24:before*/

#SPAN_25 {
    background-position: -62px 0%;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: inline-block;
    text-decoration: none solid rgb(51, 51, 51);
    vertical-align: text-bottom;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 8.99148px 8.99148px;
    transform-origin: 8.99148px 8.99148px;
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/sitewide/imdb_global_sprite-3614849164._V_.png") no-repeat scroll -62px 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_25*/

#SPAN_25:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_25:after*/

#SPAN_25:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_25:before*/

#SPAN_26 {
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#SPAN_26*/

#SPAN_26:after {
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#SPAN_26:after*/

#SPAN_26:before {
    color: rgb(19, 108, 178);
    cursor: pointer;
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#SPAN_26:before*/

#DIV_27 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: none;
    left: 0px;
    position: absolute;
    text-decoration: none solid rgb(51, 51, 51);
    top: -2px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_27*/

#DIV_27:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_27:after*/

#DIV_27:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_27:before*/

#DIV_28 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.994318px solid rgb(239, 239, 239);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 3px 3px 1px 4px;
}/*#DIV_28*/

#DIV_28:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_28:after*/

#DIV_28:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_28:before*/

#META_29, #META_30 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_29, #META_30*/

#META_29:after, #META_30:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_29:after, #META_30:after*/

#META_29:before, #META_30:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_29:before, #META_30:before*/

#META_31 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_31*/

#META_31:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_31:after*/

#META_31:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#META_31:before*/

#SPAN_32 {
    background-position: 0px -27px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    z-index: 1;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/rating/rating-list/sprite-1445387679._V_.png") repeat-x scroll 0px -27px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_32*/

#SPAN_32:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_32:after*/

#SPAN_32:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_32:before*/

#SPAN_33 {
    background-position: 0px -41px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    z-index: 2;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/rating/rating-list/sprite-1445387679._V_.png") repeat-x scroll 0px -41px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_33*/

#SPAN_33:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_33:after*/

#SPAN_33:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_33:before*/

#SPAN_34 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    z-index: 3;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_34*/

#SPAN_34:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_34:after*/

#SPAN_34:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_34:before*/

#A_35, #A_37, #A_39, #A_41, #A_43, #A_45, #A_47, #A_49, #A_51, #A_53 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_35, #A_37, #A_39, #A_41, #A_43, #A_45, #A_47, #A_49, #A_51, #A_53*/

#A_35:after, #A_37:after, #A_39:after, #A_41:after, #A_43:after, #A_45:after, #A_47:after, #A_49:after, #A_51:after, #A_53:after {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_35:after, #A_37:after, #A_39:after, #A_41:after, #A_43:after, #A_45:after, #A_47:after, #A_49:after, #A_51:after, #A_53:after*/

#A_35:before, #A_37:before, #A_39:before, #A_41:before, #A_43:before, #A_45:before, #A_47:before, #A_49:before, #A_51:before, #A_53:before {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_35:before, #A_37:before, #A_39:before, #A_41:before, #A_43:before, #A_45:before, #A_47:before, #A_49:before, #A_51:before, #A_53:before*/

#SPAN_36, #SPAN_38, #SPAN_42, #SPAN_46, #SPAN_50, #SPAN_54, #SPAN_61 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_36, #SPAN_38, #SPAN_42, #SPAN_46, #SPAN_50, #SPAN_54, #SPAN_61*/

#SPAN_36:after, #SPAN_38:after, #SPAN_42:after, #SPAN_46:after, #SPAN_50:after, #SPAN_54:after, #SPAN_61:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_36:after, #SPAN_38:after, #SPAN_42:after, #SPAN_46:after, #SPAN_50:after, #SPAN_54:after, #SPAN_61:after*/

#SPAN_36:before, #SPAN_38:before, #SPAN_42:before, #SPAN_46:before, #SPAN_50:before, #SPAN_54:before, #SPAN_61:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_36:before, #SPAN_38:before, #SPAN_42:before, #SPAN_46:before, #SPAN_50:before, #SPAN_54:before, #SPAN_61:before*/

#SPAN_40, #SPAN_44, #SPAN_52 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_40, #SPAN_44, #SPAN_52*/

#SPAN_40:after, #SPAN_44:after, #SPAN_52:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_40:after, #SPAN_44:after, #SPAN_52:after*/

#SPAN_40:before, #SPAN_44:before, #SPAN_52:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_40:before, #SPAN_44:before, #SPAN_52:before*/

#SPAN_48 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_48*/

#SPAN_48:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_48:after*/

#SPAN_48:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    visibility: hidden;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_48:before*/

#SPAN_55 {
    color: rgb(165, 134, 0);
    cursor: pointer;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    margin: -1px 0px 0px 143px;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_55*/

#SPAN_55:after {
    color: rgb(165, 134, 0);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_55:after*/

#SPAN_55:before {
    color: rgb(165, 134, 0);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_55:before*/

#SPAN_56 {
    color: rgb(165, 134, 0);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_56*/

#SPAN_56:after {
    color: rgb(165, 134, 0);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_56:after*/

#SPAN_56:before {
    color: rgb(165, 134, 0);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(165, 134, 0);
    column-rule-color: rgb(165, 134, 0);
    caret-color: rgb(165, 134, 0);
    border: 0px none rgb(165, 134, 0);
    font: normal normal 700 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(165, 134, 0) none 0px;
}/*#SPAN_56:before*/

#SPAN_57, #SPAN_58 {
    color: rgb(204, 204, 204);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_57, #SPAN_58*/

#SPAN_57:after, #SPAN_58:after {
    color: rgb(204, 204, 204);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_57:after, #SPAN_58:after*/

#SPAN_57:before, #SPAN_58:before {
    color: rgb(204, 204, 204);
    cursor: pointer;
    text-align: right;
    text-decoration: none solid rgb(204, 204, 204);
    column-rule-color: rgb(204, 204, 204);
    caret-color: rgb(204, 204, 204);
    border: 0px none rgb(204, 204, 204);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(204, 204, 204) none 0px;
}/*#SPAN_57:before, #SPAN_58:before*/

#SPAN_59 {
    background-position: 0px 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: none;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0) url("https://m.media-amazon.com/images/G/01/imdb/images/rating/rating-list/sprite-1445387679._V_.png") repeat-x scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    margin: -1px 0px 0px 185px;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_59*/

#SPAN_59:after {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_59:after*/

#SPAN_59:before {
    color: rgb(51, 51, 51);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_59:before*/

#A_60 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_60*/

#A_60:after {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_60:after*/

#A_60:before {
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_60:before*/

#DIV_62 {
    color: rgb(51, 51, 51);
    display: inline-block;
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 40.9943px 7.8125px;
    transform-origin: 40.9943px 7.8125px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_62*/

#DIV_62:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_62:after*/

#DIV_62:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_62:before*/

#SPAN_63 {
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 10.9801px 7.8125px;
    transform-origin: 10.9801px 7.8125px;
    caret-color: rgb(255, 255, 255);
    background: rgb(97, 199, 79) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 1px 4px;
}/*#SPAN_63*/

#SPAN_63:after {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_63:after*/

#SPAN_63:before {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 11px / normal Verdana, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_63:before*/

#P_64 {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    perspective-origin: 243.594px 14.5455px;
    transform-origin: 243.594px 14.5455px;
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    margin: 5.5px 0px 8.25px;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_64*/

#P_64:after {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_64:after*/

#P_64:before {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none solid rgba(0, 0, 0, 0.6);
    column-rule-color: rgba(0, 0, 0, 0.6);
    caret-color: rgba(0, 0, 0, 0.6);
    border: 0px none rgba(0, 0, 0, 0.6);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgba(0, 0, 0, 0.6) none 0px;
}/*#P_64:before*/

#P_65 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 243.594px 14.5455px;
    transform-origin: 243.594px 14.5455px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    margin: 5.5px 0px 8.25px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_65*/

#P_65:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_65:after*/

#P_65:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_65:before*/

#A_66, #A_68, #A_70 {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_66, #A_68, #A_70*/

#A_66:after, #A_68:after, #A_70:after {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_66:after, #A_68:after, #A_70:after*/

#A_66:before, #A_68:before, #A_70:before {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_66:before, #A_68:before, #A_70:before*/

#A_69, #A_71 {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_69, #A_71*/

#A_69:after, #A_71:after {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_69:after, #A_71:after*/

#A_69:before, #A_71:before {
    color: rgb(19, 108, 178);
    text-decoration: none solid rgb(19, 108, 178);
    column-rule-color: rgb(19, 108, 178);
    caret-color: rgb(19, 108, 178);
    border: 0px none rgb(19, 108, 178);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(19, 108, 178) none 0px;
}/*#A_69:before, #A_71:before*/

#P_72 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 243.594px 7.27273px;
    transform-origin: 243.594px 7.27273px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    margin: 5.5px 0px 8.25px;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_72*/

#P_72:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_72:after*/

#P_72:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#P_72:before*/

#SPAN_74, #SPAN_77 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_74, #SPAN_77*/

#SPAN_74:after, #SPAN_77:after {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_74:after, #SPAN_77:after*/

#SPAN_74:before, #SPAN_77:before {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal 400 normal 11px / 15.4px Verdana, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#SPAN_74:before, #SPAN_77:before*/

