<div id="DIV_1">
  <div id="DIV_5">
    <a id="A_6" [href]="movie.Url" target="_blank">
      <img id="IMG_7" [alt]="movie.Title" [src]="movie.PosterUrl" />
    </a>
  </div>

  <div id="DIV_8">
    <h3 id="H3_9">
      <span id="SPAN_10">{{movie.Index}}.</span>
      <a id="A_11" [href]="movie.Url" target="_blank">{{movie.Title}} </a>
      <span id="SPAN_12">{{movie.Year}}</span>
    </h3>

    <p id="P_13">
      <span id="SPAN_16">{{movie.Duration}}</span>
      <span id="SPAN_17"> | </span>
      <span id="SPAN_18" *ngFor="let genre of movie.Genres;let isLast=last">
        {{genre | i18n}}{{isLast ? '' : ' - '}}
      </span>
    </p>

    <div id="DIV_19">
      <div id="DIV_20">
        <span id="SPAN_21"></span>
        <strong id="STRONG_22">{{movie.Rating}}</strong>
      </div>
      <div id="DIV_62">
        <span id="SPAN_63">{{movie.MetaScore}}</span> Metascore
      </div>
    </div>

    <p id="P_64">
      {{movie.Content}}
    </p>

    <p id="P_65">
      {{'Director' | i18n}}: <a id="A_66" *ngFor="let director of movie.Directors;let isLast=last" [href]="director.Url"
        target="_blank">{{director.Name}}{{isLast ? '' : ' - '}}</a>
      <br>
      {{'Stars' | i18n}}: <a id="A_68" *ngFor="let star of movie.Stars;let isLast=last" [href]="star.Url"
        target="_blank">{{star.Name}}{{isLast ? '' : ' - '}}</a>
    </p>

    <p id="P_72">
      <span id="SPAN_73">{{'Votes' | i18n}}: </span> <span id="SPAN_74">{{movie.Votes}}</span>
      <span id="SPAN_75"> | </span>
      <span id="SPAN_76">{{'Gross' | i18n}}: </span><span id="SPAN_77">{{movie.Gross}}</span>
    </p>
  </div>
</div>