<div id="DIV_1">
  <div id="DIV_5">
    <a href="/title/tt3778644/?ref_=adv_li_i" id="A_6"><img alt="Solo: A Star Wars Story" src="https://m.media-amazon.com/images/M/MV5BOTM2NTI3NTc3Nl5BMl5BanBnXkFtZTgwNzM1OTQyNTM@._V1_UX67_CR0,0,67,98_AL_.jpg"
         id="IMG_7" /></a>
  </div>
  
  <div id="DIV_8">
    <h3 id="H3_9">
      <span id="SPAN_10">1.</span> <a href="/title/tt3778644/?ref_=adv_li_tt" id="A_11">Solo: A Star Wars Story</a> <span
        id="SPAN_12">(2018)</span>
    </h3>
    <p id="P_13">
      <span id="SPAN_14">PG-13</span> <span id="SPAN_15">|</span> <span id="SPAN_16">135 min</span> <span id="SPAN_17">|</span>
      <span id="SPAN_18">Action, Adventure, Fantasy</span>
    </p>
    <div id="DIV_19">
      <div id="DIV_20">
        <span id="SPAN_21"></span> <strong id="STRONG_22">7,1</strong>
      </div>
      <div id="DIV_23">
        <span id="SPAN_24"><span id="SPAN_25"></span> <span id="SPAN_26">Rate this</span></span>
        <div id="DIV_27">
          <div id="DIV_28">
            <meta content="7.1" id="META_29" />
            <meta content="10" id="META_30" />
            <meta content="134690" id="META_31" /><span id="SPAN_32"></span><span id="SPAN_33"></span> <span id="SPAN_34">
            <a rel="nofollow" title="Click to rate: 1" id="A_35"><span id="SPAN_36">1</span></a> <a rel="nofollow" title="Click to rate: 2"
                id="A_37"><span id="SPAN_38">2</span></a> <a rel="nofollow" title="Click to rate: 3" id="A_39"><span id="SPAN_40">3</span></a>
              <a rel="nofollow" title="Click to rate: 4" id="A_41"><span id="SPAN_42">4</span></a> <a rel="nofollow" title="Click to rate: 5"
                id="A_43"><span id="SPAN_44">5</span></a> <a rel="nofollow" title="Click to rate: 6" id="A_45"><span id="SPAN_46">6</span></a>
              <a rel="nofollow" title="Click to rate: 7" id="A_47"><span id="SPAN_48">7</span></a> <a rel="nofollow" title="Click to rate: 8"
                id="A_49"><span id="SPAN_50">8</span></a> <a rel="nofollow" title="Click to rate: 9" id="A_51"><span id="SPAN_52">9</span></a>
              <a rel="nofollow" title="Click to rate: 10" id="A_53"><span id="SPAN_54">10</span></a></span> <span id="SPAN_55"><span
                id="SPAN_56">7,1</span><span id="SPAN_57">/</span><span id="SPAN_58">10</span></span> <span id="SPAN_59"><a
                title="Delete" rel="nofollow" id="A_60"><span id="SPAN_61">X</span></a></span>
          </div>
        </div>
      </div>
      <div id="DIV_62">
        <span id="SPAN_63">62</span> Metascore
      </div>
    </div>
    <p id="P_64">
      During an adventure into the criminal underworld, Han Solo meets his future co-pilot Chewbacca and encounters Lando Calrissian
      years before joining the Rebellion.
    </p>
    <p id="P_65">
      Director: <a href="/name/nm0000165/?ref_=adv_li_dr_0" id="A_66">Ron Howard</a> <span id="SPAN_67">|</span> Stars: <a
        href="/name/nm2403277/?ref_=adv_li_st_0" id="A_68">Alden Ehrenreich</a>, <a href="/name/nm0000437/?ref_=adv_li_st_1"
        id="A_69">Woody Harrelson</a>, <a href="/name/nm3592338/?ref_=adv_li_st_2" id="A_70">Emilia Clarke</a>, <a href="/name/nm2255973/?ref_=adv_li_st_3"
        id="A_71">Donald Glover</a>
    </p>
    <p id="P_72">
      <span id="SPAN_73">Votes:</span> <span id="SPAN_74">134.690</span> <span id="SPAN_75">|</span> <span id="SPAN_76">Gross:</span>
      <span id="SPAN_77">$213.77M</span>
    </p>
  </div>
</div>