.header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}

.language-selector{
    position: absolute; 
    top:0; 
    right:0;
    padding: 1em;
  }

  /*
  .banner {
    background-position: center center;
    background-size: cover;
  }

  */
  