<header class="header">
    <a (click)="routeToHome()" class="logo">
        <img src="assets/img/svg/logo_hollywood.svg">
        <!-- <img src="assets/img/svg/beta.svg" class="logo-beta"> -->
    </a>

    <nav>
        <dx-menu *ngIf="hasEnoughWidthForTopMenu" cssClass="top-menu" [dataSource]="menus" showFirstSubmenuMode="onHover" hideSubmenuOnMouseLeave="true" itemsExpr="Children" (onItemClick)="navigationSelected($event)">
            <div *dxTemplate="let i of 'item'">
                <a *ngIf="i" class="menu-item dx-theme-text-color">{{i.Name | i18n}}
                    <span *ngIf="i.Children" class="dx-menu-item-popout-container">
                        <div class="dx-menu-item-popout"></div>
                    </span>
                </a>
            </div>
        </dx-menu>

        <dx-menu *ngIf="!hasEnoughWidthForTopMenu" cssClass="button-menu" [dataSource]="mobileMenus" showFirstSubmenuMode="onHover" hideSubmenuOnMouseLeave="true" itemsExpr="Children" (onItemClick)="navigationSelected($event)">
            <div *dxTemplate="let i of 'item'">
                <img *ngIf="i.Icon" src="{{i.Icon}}">
                <a *ngIf="i.Name" class="menu-item dx-theme-text-color">{{i.Name | i18n}}
                    <span *ngIf="i.Children" class="dx-menu-item-popout-container">
                        <div class="dx-menu-item-popout"></div>
                    </span>
                </a>
            </div>
        </dx-menu>
    </nav>

</header>