.content{
    min-height: calc(100vh - 200px); 
}

.not-found{
    position: sticky;
    max-width: 50vw;
    top: 50%;
    color:#EB3313;
    text-align: center;
    vertical-align: middle;    
    font-family: 'Lobster', cursive;
    font-size: x-large;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid;
    display: table;
    margin: 50px auto;
}

.show-more-panel{
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both;
}

.show-more-button{
    border: 1px solid #EB3313;
    border-radius: 27px 27px 27px 27px;
    font-size: large;
}

.button-spinner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }