<app-header></app-header>

<main class="cd-main-content">

	<app-bar></app-bar>

	<app-content (onShowMore)="onShowMore()" [(isLoaderActive)]="isSearching" [movies]="searchResult?.Movies"></app-content>


	<app-filter (onSearch)="onSearch($event)"></app-filter>

</main> <!-- cd-main-content -->

<app-footer></app-footer>

<i #backToTopButton id="backToTopButton" class="fa fa-chevron-circle-up fa-3x" aria-hidden="true"
	(click)="backToTop()"></i>
<!-- <a class="show" id="backToTopButton" (click)="backToTop($event)"></a> -->