<div #navbar class="cd-tab-filter-wrapper">
  <div class="cd-tab-filter filter-is-visible">
    <ul class="cd-filters">

      <li class="placeholder">
        <a data-type="all" href="#0">{{'TrendingNow' | i18n}}</a> <!-- selected option on mobile -->
      </li>


      <li class="filter"><a class="selected" href="#0" data-type="all">{{'TrendingNow' | i18n}}</a></li>
      <!--        
      <li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Color 1</a></li>
      <li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Color 2</a></li>
       -->
    </ul> <!-- cd-filters -->
  </div> <!-- cd-tab-filter -->
</div> <!-- cd-tab-filter-wrapper -->