<div #navbar class="cd-tab-filter-wrapper">
  <div class="cd-tab-filter filter-is-visible">

    <dx-toolbar height="50">

      <!-- <dxi-item location="before" locateInMenu="never">
        <div *dxTemplate>         
        </div>
      </dxi-item> -->

      <dxi-item location="center" locateInMenu="never">
        <div *dxTemplate>
          <p *ngIf="currentQuery?.Path" style="color: #EB3313;"> <b style="font-weight:bold; font-size: large;">{{currentQuery.Path | i18n}}</b></p>
          <p *ngIf="totalCount" style="color: #EB3313;"> <b style="font-weight:bold; font-size: small;">{{totalCount}}</b> {{'Results' | i18n}}</p>
        </div>
      </dxi-item>

      <dxi-item *ngIf="!isMobileScreen && currentQuery" location="after" locateInMenu="never">
        <div *dxTemplate>
          <dx-select-box style="float: right;" placeholder="{{'SortType' | i18n}}" [items]="sortTypes"
            [(value)]="currentQuery.Sort" displayExpr="Value" valueExpr="Key" width="175" [showClearButton]="false"
            (onValueChanged)="changedSortType($event)"></dx-select-box>
        </div>
      </dxi-item>

    </dx-toolbar>

  </div> <!-- cd-tab-filter -->
</div> <!-- cd-tab-filter-wrapper -->